# ----------------------
# Flask
# ----------------------
Flask==0.12.2
Flask-WTF==0.14.2


# ----------------------
# Other
# ----------------------

stravalib==0.6.6


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn
