# ----------------------
# Flask
# ----------------------
Flask==1.1.2
Flask-WTF==0.14.3
Werkzeug==0.16.1
Flask-Migrate
Flask-SQLAlchemy


# ----------------------
# Other
# ----------------------

stravalib==0.10.2
APScheduler==3.6.3
redis==3.5.2
psycopg2

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn
